<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compitable" content="ie-edge">
    <meta name="Description" content="Enter your description here"/>
    <title>Reset</title>

    <!--FAVICON-->
    <link rel="icon" type="image/png" href="/static/images/cattotech.png">

    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  
    <!--Custom Css File Link-->
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="/static/css/responsive-style.css">
<style>



</style>
</head>

<body>
    <section class="login_wrapper">
        <div class="container">
            <div class="col-sm-8 offset-sm-2 col-lg-8 offset-lg-4 col-xl-4 text-center">
                <div class="logo">
                    <img src="/static/images/cattotech-company-logo.png" class="img-fluid" alt="logo">
                </div>
                <form class="rounded bg-white shadow p-5">
                    <h3 class="text-dark fw-bolder fs-4  mb-2">Forget Password?</h3>
                    <div class="fw-normal text-muted mb-4 ">
                        Send reset link to your E-mail
                    </div>
         
                    <div class="form-floating mb-3">
                        
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                     

                      <button type="submit" class="btn btn-primary submit_btn w-40 my-4">Send</button>
                      <button type="submit" class="btn btn-secondary submit_btn w-40 my-4 ms-3">Cancel</button>
                      
                </form>
            </div>
        </div>
    </section>










    <!--jQuery CDN Link-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <!--Bootstrap JS cdn link-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
    <!-- Owl Carousel JS Link-->
    <script src="./js/owl/dist/owl.carousel.js"></script>

    <!--Custom Js link-->
    <script src="./js/main.js"></script>

</body>

</html>